.explore-container {
  position: relative;
  margin-left: auto;   /* push from left */
  margin-right: auto;  /* push from right */
  
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
  z-index: 20;
  transition: all 0.3s ease;
}
